# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.dylib

# Distribution / packaging
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
htmlcov/
.tox/
.nox/

# Jupyter Notebook artifacts
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
